___
# Ecommerce Purchases Exercise

In this Exercise you will be given some Fake Data about some purchases done through Amazon! Just go ahead and follow the directions and try your best to answer the questions and complete the tasks. Feel free to reference the solutions. Most of the tasks can be solved in different ways. For the most part, the questions get progressively harder.

Please excuse anything that doesn't make "Real-World" sense in the dataframe, all the data is fake and made-up.

Also note that all of these questions can be answered with one line of code.
____
** Import pandas and read in the Ecommerce Purchases csv file and set it to a DataFrame called ecom. **

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Ecommerce_purchases')

**Check the head of the DataFrame.**

In [16]:
df.head()

,Address,Lot,AM or PM,Browser Info,Company,Credit Card,CC Exp Date,CC Security Code,CC Provider,Email,Job,IP Address,Language,Purchase Price
0,"16629 Pace Camp Apt. 448\nAlexisborough, NE 77...",46 in,PM,Opera/9.56.(X11; Linux x86_64; sl-SI) Presto/2...,Martinez-Herman,6011929061123406,02/20,900,JCB 16 digit,pdunlap@yahoo.com,"Scientist, product/process development",149.146.147.205,el,98.14
1,"9374 Jasmine Spurs Suite 508\nSouth John, TN 8...",28 rn,PM,Opera/8.93.(Windows 98; Win 9x 4.90; en-US) Pr...,"Fletcher, Richards and Whitaker",3337758169645356,11/18,561,Mastercard,anthony41@reed.com,Drilling engineer,15.160.41.51,fr,70.73
2,Unit 0065 Box 5052\nDPO AP 27450,94 vE,PM,Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...,"Simpson, Williams and Pham",675957666125,08/19,699,JCB 16 digit,amymiller@morales-harrison.com,Customer service manager,132.207.160.22,de,0.95
3,"7780 Julia Fords\nNew Stacy, WA 45798",36 vm,PM,Mozilla/5.0 (Macintosh; Intel Mac OS X 10_8_0 ...,"Williams, Marshall and Buchanan",6011578504430710,02/24,384,Discover,brent16@olson-robinson.info,Drilling engineer,30.250.74.19,es,78.04
4,"23012 Munoz Drive Suite 337\nNew Cynthia, TX 5...",20 IE,AM,Opera/9.58.(X11; Linux x86_64; it-IT) Presto/2...,"Brown, Watson and Andrews",6011456623207998,10/25,678,Diners Club / Carte Blanche,christopherwright@gmail.com,Fine artist,24.140.33.94,es,77.82

** How many rows and columns are there? **

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           10000 non-null  object
 1   Lot               10000 non-null  object
 2   AM or PM          10000 non-null  object
 3   Browser Info      10000 non-null  object
 4   Company           10000 non-null  object
 5   Credit Card       10000 non-null  int64
 6   CC Exp Date       10000 non-null  object
 7   CC Security Code  10000 non-null  int64
 8   CC Provider       10000 non-null  object
 9   Email             10000 non-null  object
 10  Job               10000 non-null  object
 11  IP Address        10000 non-null  object
 12  Language          10000 non-null  object
 13  Purchase Price    10000 non-null  float64
dtypes: float64(1), int64(2), object(11)
memory usage: 1.1+ MB

** What is the average Purchase Price? **

In [4]:
df['Purchase Price'].mean()

50.34730200000025

** What were the highest and lowest purchase prices? **

In [5]:
df['Purchase Price'].max()

99.99

In [6]:
df['Purchase Price'].min()

0.0

** How many people have English 'en' as their Language of choice on the website? **

In [7]:
df[df['Language']=='en'].count()

Address             1098
Lot                 1098
AM or PM            1098
Browser Info        1098
Company             1098
Credit Card         1098
CC Exp Date         1098
CC Security Code    1098
CC Provider         1098
Email               1098
Job                 1098
IP Address          1098
Language            1098
Purchase Price      1098
dtype: int64

** How many people have the job title of "Lawyer" ? **

In [8]:
df[df['Job']=='Lawyer'].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 470 to 9979
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Address           30 non-null     object
 1   Lot               30 non-null     object
 2   AM or PM          30 non-null     object
 3   Browser Info      30 non-null     object
 4   Company           30 non-null     object
 5   Credit Card       30 non-null     int64
 6   CC Exp Date       30 non-null     object
 7   CC Security Code  30 non-null     int64
 8   CC Provider       30 non-null     object
 9   Email             30 non-null     object
 10  Job               30 non-null     object
 11  IP Address        30 non-null     object
 12  Language          30 non-null     object
 13  Purchase Price    30 non-null     float64
dtypes: float64(1), int64(2), object(11)
memory usage: 3.5+ KB

** How many people made the purchase during the AM and how many people made the purchase during PM ? **

**(Hint: Check out [value_counts()](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.Series.value_counts.html) ) **

In [9]:
df['AM or PM'].value_counts()

PM    5068
AM    4932
Name: AM or PM, dtype: int64

** What are the 5 most common Job Titles? **

In [10]:
df['Job'].value_counts().head()

Interior and spatial designer        31
Lawyer                               30
Social researcher                    28
Research officer, political party    27
Purchasing manager                   27
Name: Job, dtype: int64

** Someone made a purchase that came from Lot: "90 WT" , what was the Purchase Price for this transaction? **

In [11]:
df[df['Lot']=='90 WT']['Purchase Price']

513    75.1
Name: Purchase Price, dtype: float64

** What is the email of the person with the following Credit Card Number: 4926535242672853 **

In [12]:
df[df['Credit Card']==4926535242672853]['Email']

1234    bondellen@williams-garza.com
Name: Email, dtype: object

** How many people have American Express as their Credit Card Provider *and* made a purchase above $95 ?**

In [13]:
df[(df['CC Provider']=='American Express')& (df['Purchase Price']>95)].count

<bound method DataFrame.count of                                                 Address    Lot AM or PM  \
9       3795 Dawson Extensions\nLake Tinafort, ID 88739  15 Ug       AM
280   81060 Dustin Causeway Apt. 503\nPort Danielche...  80 zh       PM
372              359 Stanley Coves\nSalasfort, SD 59457  75 Ub       PM
677       4855 Peter Bridge\nJohnsonberg, PA 90599-0009  62 Nx       AM
766             386 Alisha Unions\nSteelebury, ND 19782  28 pJ       PM
1225    916 Amanda Heights\nNew Johnland, CA 52112-8572  09 vg       PM
1381  79284 Lisa Mews Suite 069\nKellyborough, CT 71...  45 MR       PM
1385  67796 James Keys Suite 656\nSouth Katieshire, ...  06 ia       PM
1568       76108 Barker Manors\nEast Amy, PW 49544-5921  82 Qw       AM
1727  478 Anita Hill Apt. 766\nAverymouth, FM 50629-...  94 qM       AM
2146           557 Barton Harbor\nFuentesport, VI 29961  96 MV       AM
2264   040 Ingram Way Suite 602\nEast Matthew, AR 67341  52 WA       AM
2267  216 Olivia Court Apt. 439\nTonyshire, IN 19159...  11 za       PM
2642  899 Williams Prairie Suite 234\nEast Hunterbur...  46 hb       PM
2828  20135 Miller Green Apt. 763\nGarciaville, KY 6...  79 El       PM
3291             58939 Reese Cove\nSouth Ross, MA 54531  50 cD       AM
3349  1984 Christopher Turnpike Suite 904\nRichardbu...  30 xs       AM
3619  03233 Angela Road Apt. 808\nEast Jilliantown, ...  41 nH       PM
4071  8161 Craig Passage Apt. 939\nPort Emilystad, R...  45 ab       AM
4569  88284 Austin Summit Apt. 805\nKellerside, WY 6...  03 WL       AM
5385                           USNS Smith\nFPO AA 37829  80 BX       AM
5655       38674 Mckay Vista\nWilsonbury, MO 55611-8663  95 aB       PM
5692                   PSC 8264, Box 8124\nAPO AE 19700  97 sG       PM
5814              Unit 5232 Box 4650\nDPO AE 28335-7543  71 So       PM
5875      8256 Anderson Forest\nFordbury, PA 81027-8980  17 Oe       AM
5895  87003 Jason Tunnel Apt. 216\nDariusville, MS 8...  72 gL       AM
6026                   Unit 4385 Box 1428\nDPO AE 04110  58 Ex       AM
6524  344 Rivera Shore Apt. 224\nJoshuaborough, ND 3...  44 SM       AM
7239        81561 Stein Rue\nEast Melissaport, MA 64959  45 sZ       PM
7381  40804 Belinda Roads Apt. 186\nWest Nicoleberg,...  30 GH       AM
7416    1082 Jason Alley Suite 707\nWhitestad, SC 97805  08 bm       PM
7514    678 David Manor Suite 323\nBobbymouth, PW 59942  91 NA       AM
8233  327 Hamilton Hollow\nEast Nicolechester, RI 65868  53 dE       PM
8381  274 Wallace Pine Apt. 189\nMartinberg, WY 7548...  32 rI       PM
8408                   Unit 4967 Box 4574\nDPO AP 11412  05 zs       PM
8434  474 Gonzalez Meadow Suite 581\nEast Vincent, M...  14 St       PM
8817          3658 Campos Lodge\nChambersfurt, MH 86260  24 ej       PM
9168  18782 Hall Row Suite 810\nSouth Wesleyville, I...  15 QU       PM
9856  058 Miranda Locks Suite 792\nPort Davidstad, P...  73 IW       PM

                                           Browser Info  \
9     Mozilla/5.0 (X11; Linux i686; rv:1.9.7.20) Gec...
280   Mozilla/5.0 (Windows NT 5.01) AppleWebKit/5362...
372   Opera/8.42.(X11; Linux x86_64; en-US) Presto/2...
677   Opera/9.49.(Windows 98; Win 9x 4.90; en-US) Pr...
766   Opera/8.47.(X11; Linux x86_64; sl-SI) Presto/2...
1225  Mozilla/5.0 (X11; Linux i686; rv:1.9.7.20) Gec...
1381  Mozilla/5.0 (Macintosh; PPC Mac OS X 10_5_5; r...
1385  Mozilla/5.0 (Windows NT 5.1) AppleWebKit/5330 ...
1568  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
1727  Mozilla/5.0 (X11; Linux x86_64) AppleWebKit/53...
2146  Mozilla/5.0 (compatible; MSIE 6.0; Windows 98;...
2264  Mozilla/5.0 (Windows NT 6.0) AppleWebKit/5341 ...
2267  Mozilla/5.0 (Macintosh; PPC Mac OS X 10_6_4; r...
2642  Mozilla/5.0 (compatible; MSIE 7.0; Windows NT ...
2828  Mozilla/5.0 (Windows; U; Windows CE) AppleWebK...
3291  Mozilla/5.0 (compatible; MSIE 9.0; Windows 95;...
3349  Mozilla/5.0 (X11; Linux x86_64; rv:1.9.7.20) G...
3619  Opera/9.53.(Windows 95; en-US) Presto/2.9.175 ...
4071  Mozilla/5.0 (Windows; U; Windows NT 6.1) Apple...
4569  Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_5_5...
5385  Opera/9.56.(X11; Linux x86_64; en-US) Presto/2...
5655  Mozilla/5.0 (X11; Linux i686) AppleWebKit/5331...
5692  Mozilla/5.0 (iPod; U; CPU iPhone OS 3_3 like M...
5814  Mozilla/5.0 (X11; Linux i686) AppleWebKit/5342...
5875  Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...
5895  Mozilla/5.0 (compatible; MSIE 9.0; Windows NT ...
6026  Mozilla/5.0 (Windows; U; Windows NT 5.01) Appl...
6524  Opera/8.62.(X11; Linux i686; en-US) Presto/2.9...
7239  Mozilla/5.0 (X11; Linux i686) AppleWebKit/5310...
7381  Opera/9.32.(Windows NT 4.0; it-IT) Presto/2.9....
7416  Mozilla/5.0 (Windows NT 5.1; sl-SI; rv:1.9.2.2...
7514  Mozilla/5.0 (compatible; MSIE 8.0; Windows 98;...
8233  Mozilla/5.0 (Macintosh; U; PPC Mac OS X 10_5_3...
8381  Mozilla/5.0 (Windows; U; Windows 98; Win 9x 4....
8408  Mozilla/5.0 (compatible; MSIE 5.0; Windows 98;...
8434  Mozilla/5.0 (compatible; MSIE 6.0; Windows NT ...
8817  Mozilla/5.0 (compatible; MSIE 5.0; Windows NT ...
9168  Opera/9.57.(X11; Linux i686; it-IT) Presto/2.9...
9856  Mozilla/5.0 (Windows NT 5.0) AppleWebKit/5360 ...

                            Company       Credit Card CC Exp Date  \
9      Rivera, Buchanan and Ramirez     4396283918371       01/17
280                        Clay PLC   377737470673585       10/17
372                  Davis-Lawrence   371995567939253       02/26
677                  Jones and Sons  4960556611626434       07/26
766                     Proctor PLC    30325623350308       04/24
1225         Clark, Ross and Travis   371229555854245       10/21
1381                  Randall-Cohen     4855262855037       05/17
1385      Gonzalez, Gross and Allen    30407332938506       12/20
1568       Nguyen, Branch and Wiley  5142451859832464       04/21
1727                  Owen and Sons    30242757909967       11/19
2146                    Flores-Cook  3337255995040373       04/19
2264       Baker, Simmons and Pitts  3096946456575623       11/22
2267                      Olson Inc  5388757330269354       02/17
2642                       Webb Inc  3096797127305092       05/17
2828         Zavala, Cox and Parker  5173968976288215       11/22
3291        Chang, Davis and Snyder   349464844934636       11/23
3349                Martin-Mitchell  3096398727024637       03/19
3619        Silva, Kim and Martinez  4807251488895729       10/21
4071                Wilson-Robinson  5506767693718324       08/23
4569     Fisher, Thompson and Lynch  3088726880694574       12/19
5385               Patterson-Miller  4411786056713950       12/22
5655                  Watson-Bailey  3096820981608615       05/20
5692                      Moore Inc  6011499701167585       10/20
5814                     Garcia LLC    30346960979608       07/17
5875     Kelly, Peterson and Oliver  5173335726386576       02/18
5895          Reyes, Fox and Wilson   180010957603245       09/24
6026                      White Inc  3112975578138572       09/17
6524     Lawson, Moyer and Valencia   379348662534664       06/17
7239                      Smith Ltd      503825682670       07/19
7381                    Blair-Keith   180089858618619       05/19
7416  Carroll, Harrison and Escobar  3088903707645291       12/18
7514           Glenn, Lowe and Shah      676298897445       04/26
8233      Keller, Carter and Garcia    30299608736429       08/22
8381                   Kelly-Newman  5527104423944290       05/18
8408                  Acevedo-Smith  3337721305744244       01/19
8434                Miller and Sons   180059754370698       07/24
8817                   Fisher-Jones   210046575239925       09/25
9168                     Butler PLC  5412611065926441       05/25
9856                  Olson-Navarro  6011037226242937       03/18

      CC Security Code       CC Provider  \
9                  931  American Express
280                349  American Express
372               1877  American Express
677               9255  American Express
766                772  American Express
1225               366  American Express
1381               518  American Express
1385               597  American Express
1568               785  American Express
1727              7403  American Express
2146                28  American Express
2264                56  American Express
2267               738  American Express
2642               418  American Express
2828               125  American Express
3291               103  American Express
3349               439  American Express
3619               948  American Express
4071                18  American Express
4569               159  American Express
5385               452  American Express
5655               259  American Express
5692               845  American Express
5814               402  American Express
5875               954  American Express
5895               929  American Express
6026                 7  American Express
6524               809  American Express
7239               852  American Express
7381              2107  American Express
7416               220  American Express
7514                61  American Express
8233               786  American Express
8381               711  American Express
8408               738  American Express
8434               812  American Express
8817               860  American Express
9168                49  American Express
9856               757  American Express

                                       Email  \
9                   qcoleman@hunt-huerta.com
280                        hfarley@hicks.com
372                      amberhull@jones.net
677                 evanskayla@fernandez.com
766                 robertsonjulia@gmail.com
1225                lawrencecarter@kelly.com
1381  maldonadomichael@martinez-delgado.info
1385                    vbrown@daugherty.com
1568                  johnsonjulie@yahoo.com
1727          sharpmelanie@smith-johnson.com
2146           jessica94@mosley-buchanan.com
2264                    holtamanda@gmail.com
2267          burkestephanie@lee-cameron.com
2642                  reevesmanuel@gmail.com
2828                villarrealdavid@gray.com
3291               stephanieacosta@yahoo.com
3349                 hgross@mccoy-mckay.info
3619                  jonesjesse@castro.info
4071                    hhenderson@yahoo.com
4569                        amy00@patton.com
5385                      ijones@hotmail.com
5655                   timothy84@hotmail.com
5692                     kellypace@yahoo.com
5814                         jrice@gmail.com
5875               hernandezandrea@yahoo.com
5895               duncanmichael@hotmail.com
6026                       scott35@yahoo.com
6524                   olsonjohn@hotmail.com
7239                beckerjennifer@gmail.com
7381                 woodsmatthew@walton.org
7416                        gcruz@butler.com
7514                     tammy75@cameron.com
8233                   elliskaren@taylor.com
8381                    joneswilliam@cox.net
8408                  nunezjames@hotmail.com
8434                    vtaylor@hatfield.com
8817                   jessica35@hotmail.com
9168                    tammyblair@yahoo.com
9856               brendastewart@dalton.info

                                               Job       IP Address Language  \
9                               Forensic scientist    236.198.199.8       zh
280                                     Ergonomist    134.52.148.32       de
372               Training and development officer    198.98.34.250       pt
677                       Plant breeder/geneticist   235.97.240.112       el
766                                 Therapist, art    146.208.30.83       es
1225                                        Artist     88.49.59.205       pt
1381                    Geophysical data processor    50.40.147.204       it
1385                    Geophysical data processor  152.133.246.191       zh
1568                      Insurance claims handler  175.248.232.126       es
1727   Psychologist, prison and probation services    126.47.196.22       ru
2146                Armed forces technical officer     35.97.189.19       es
2264                                 Archaeologist   185.14.106.115       es
2267                         Management consultant    20.140.16.225       it
2642                    Engineer, maintenance (IT)  169.132.152.152       el
2828               Chartered management accountant     76.75.229.58       el
3291                                    IT trainer  124.247.101.106       it
3349                           Structural engineer   167.172.139.33       pt
3619                  Garment/textile technologist       87.66.16.4       en
4071                      Customer service manager    119.74.76.168       es
4569                                       Actuary     207.18.223.8       el
5385                            Field seismologist  251.254.250.100       el
5655  Production designer, theatre/television/film  235.149.102.129       es
5692                                    Aid worker    155.121.60.58       pt
5814                                     Solicitor   165.48.161.188       zh
5875                  Community development worker   212.168.246.27       ru
5895                               Event organiser    231.34.199.32       it
6026                          Operations geologist    217.6.202.138       en
6524                       Teacher, primary school      45.1.104.55       zh
7239                              Engineer, energy   50.107.135.203       fr
7381                              Fashion designer    223.87.136.82       es
7416                           Broadcast presenter    193.90.91.152       pt
7514                           Automotive engineer   37.241.180.247       ru
8233                             Chemical engineer   131.34.220.138       en
8381                      Surveyor, land/geomatics   29.211.114.191       ru
8408                  Designer, exhibition/display    91.55.254.144       es
8434                Armed forces technical officer     26.69.128.20       it
8817                            Forensic scientist    18.74.143.113       fr
9168                      Computer games developer      2.84.51.133       en
9856                                 Site engineer    96.79.250.154       de

      Purchase Price
9              95.63
280            99.13
372            99.08
677            98.97
766            96.66
1225           96.55
1381           96.11
1385           98.89
1568           97.04
1727           95.58
2146           98.01
2264           99.85
2267           97.63
2642           96.08
2828           96.12
3291           95.94
3349           95.46
3619           99.69
4071           96.49
4569           97.38
5385           96.13
5655           98.28
5692           98.66
5814           96.73
5875           95.07
5895           97.38
6026           95.89
6524           97.87
7239           97.32
7381           99.81
7416           96.09
7514           98.36
8233           98.63
8381           99.36
8408           98.16
8434           97.90
8817           99.16
9168           98.59
9856           99.97  >

** Hard: How many people have a credit card that expires in 2025? **

In [14]:
k=[]
for i in range(0,len(df)):
    t= df['CC Exp Date'][i][3:]
    if t=='25':
        k.append(t)
print(len(k))

1033

** Hard: What are the top 5 most popular email providers/hosts (e.g. gmail.com, yahoo.com, etc...) **

In [15]:
k=[]
for i in range(0,len(df)):
    t= df['Email'][i].split('@')
    k.append(t[1])
df3=pd.DataFrame(k)
df3.value_counts().head()

hotmail.com     1638
yahoo.com       1616
gmail.com       1605
smith.com         42
williams.com      37
dtype: int64

# Great Job!